<nav class="mobile-dropdown-menu">
  <ul>
    <!-- <li ng-click="goToBlog()">Blog</li> -->
    <li ng-click="goToPortfolio()">Portfolio</li>
    <li ng-click="goToAbout()">About</li>
    <div class="divider"></div>
    <div class="mobile-menu_social">
      <a href="https://www.github.com/RS-Crawford">
        <button class="btn-mobile-menu_social icon-github" ng-click="goToGithub()"></button>
      </a>
      <a href="https://www.twitter.com/crawrs">
        <button class="btn-mobile-menu_social icon-twitter" ng-click="goToTwitter()"></button>
      </a>
      <a href="https://www.linkedin.com/in/robertscrawford">
        <button class="btn-mobile-menu_social icon-linkedin2" ng-click="goToLinkedIn()"></button>
      </a>
    </div>
  </ul>
</nav>
