<!-- header.html -->
<div class="header-dir">
  <span class="header-nametag" ng-click="goToPortfolio()">Robert Crawford</span>
  <nav class="header-nav">
    <!-- <button class="btn-header" ng-click="goToBlog()">Blog</button> -->
    <button class="btn-header" ng-click="goToPortfolio()">Portfolio</button>
    <button class="btn-header" ng-click="goToAbout()">About</button>
    <a href="https://www.github.com/RS-Crawford">
      <button class="btn-header_social icon-github" ng-click="goToGithub()"></button>
    </a>
    <a href="https://www.twitter.com/crawrs">
      <button class="btn-header_social icon-twitter" ng-click="goToTwitter()"></button>
    </a>
    <a href="https://www.linkedin.com/in/robertscrawford">
      <button class="btn-header_social icon-linkedin2" ng-click="goToLinkedIn()"></button>
    </a>
  </nav>
  <nav class="header-nav_mobile"> 
    <button class="btn-header_menu icon-menu3" dropdown-btn> Menu</button>
  </nav>
<div>
